  <div class="flex items-start justify-between">
                <h2 class="text-xl font-bold md:text-2xl max-w-[75%]">
                    How to convert .wav file to a numpy array and then back to a .wav file format without losing quality/having the same audio without any noise?
                </h2>
                <button class="bg-blue-500 hover:bg-blue-400 px-4 py-2 rounded-md text-white">Ask Question</button>
            </div>


<script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/amjaykqd.json"
    trigger="hover"
    style="width:250px;height:250px">
</lord-icon>