 {% load static %}
 <aside class="col-span-2 border-r space-y-5 sticky top-10 h-fit-content hidden lg:block">
        <div class="flex flex-col gap-1">
            
                <a href="#" class="flex items-center bg-gray-200 hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-house me-1 text-lg"></i> <span class="font-bold">Home</span></a>
                <a href="#" class="flex items-center hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-clipboard-question me-1 text-lg"></i> <span class="font-medium">Questions</span></a>
                <a href="#" class="flex items-center hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-tags me-1 text-lg"></i> <span class="font-medium">Tags</span></a>
            
        </div>
        <div class="flex flex-col gap-1">
            
                <a href="#" class="flex items-center hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-bookmark me-1"></i> <span class="font-semibold">Saved</span></a>
                <a href="#" class="flex items-center hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-users me-1"></i> <span class="font-medium">Questions</span></a>
                <a href="#" class="flex items-center hover:bg-gray-100 p-2  text-sm rounded-l-lg gap-1"><i class="fa-solid fa-tags me-1 text-lg"></i> <span class="font-medium">Tags</span></a>
            
        </div>
    </aside>